Database/src/main/webapp/wsdl/DataBase.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://database.uge.fr" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://database.uge.fr" xmlns:intf="http://database.uge.fr" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://database.uge.fr" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="vehicleExists">
    <complexType>
     <sequence>
      <element name="vehicleId" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
   <element name="vehicleExistsResponse">
    <complexType>
     <sequence>
      <element name="vehicleExistsReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="getVehiclesId">
    <complexType/>
   </element>
   <element name="getVehiclesIdResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getVehiclesIdReturn" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
   <element name="registerPurchase">
    <complexType>
     <sequence>
      <element name="date" type="xsd:string"/>
      <element name="clientId" type="xsd:long"/>
      <element name="vehicleId" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
   <element name="registerPurchaseResponse">
    <complexType/>
   </element>
   <element name="getRentalsNumber">
    <complexType>
     <sequence>
      <element name="vehicleId" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
   <element name="getRentalsNumberResponse">
    <complexType>
     <sequence>
      <element name="getRentalsNumberReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getClientBankBalance">
    <complexType>
     <sequence>
      <element name="clientId" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
   <element name="getClientBankBalanceResponse">
    <complexType>
     <sequence>
      <element name="getClientBankBalanceReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="authenticateEmployee">
    <complexType>
     <sequence>
      <element name="login" type="xsd:string"/>
      <element name="password" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="authenticateEmployeeResponse">
    <complexType>
     <sequence>
      <element name="authenticateEmployeeReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="getVehicleGeneralGrade">
    <complexType>
     <sequence>
      <element name="vehicleId" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
   <element name="getVehicleGeneralGradeResponse">
    <complexType>
     <sequence>
      <element name="getVehicleGeneralGradeReturn" type="xsd:float"/>
     </sequence>
    </complexType>
   </element>
   <element name="getVehicleConditionGrade">
    <complexType>
     <sequence>
      <element name="vehicleId" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
   <element name="getVehicleConditionGradeResponse">
    <complexType>
     <sequence>
      <element name="getVehicleConditionGradeReturn" type="xsd:float"/>
     </sequence>
    </complexType>
   </element>
   <element name="getPurchasedVehicles">
    <complexType>
     <sequence>
      <element name="clientId" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
   <element name="getPurchasedVehiclesResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getPurchasedVehiclesReturn" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
   <element name="getDateFormat">
    <complexType/>
   </element>
   <element name="getDateFormatResponse">
    <complexType>
     <sequence>
      <element name="getDateFormatReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getVehicleBuyingPrice">
    <complexType>
     <sequence>
      <element name="vehicleId" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
   <element name="getVehicleBuyingPriceResponse">
    <complexType>
     <sequence>
      <element name="getVehicleBuyingPriceReturn" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
   <element name="getVehicleRentalPrice">
    <complexType>
     <sequence>
      <element name="vehicleId" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
   <element name="getVehicleRentalPriceResponse">
    <complexType>
     <sequence>
      <element name="getVehicleRentalPriceReturn" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
   <element name="employeeExists">
    <complexType>
     <sequence>
      <element name="employeeId" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
   <element name="employeeExistsResponse">
    <complexType>
     <sequence>
      <element name="employeeExistsReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="addGrade">
    <complexType>
     <sequence>
      <element name="date" type="xsd:string"/>
      <element name="employeeId" type="xsd:long"/>
      <element name="vehicleId" type="xsd:long"/>
      <element name="vehicleGrade" type="xsd:int"/>
      <element name="conditionGrade" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="addGradeResponse">
    <complexType/>
   </element>
   <element name="clientExists">
    <complexType>
     <sequence>
      <element name="clientId" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
   <element name="clientExistsResponse">
    <complexType>
     <sequence>
      <element name="clientExistsReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="debiteClient">
    <complexType>
     <sequence>
      <element name="clientId" type="xsd:long"/>
      <element name="amount" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="debiteClientResponse">
    <complexType/>
   </element>
   <element name="getRentedVehicles">
    <complexType>
     <sequence>
      <element name="employeeId" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
   <element name="getRentedVehiclesResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getRentedVehiclesReturn" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
   <element name="authenticateClient">
    <complexType>
     <sequence>
      <element name="login" type="xsd:string"/>
      <element name="password" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="authenticateClientResponse">
    <complexType>
     <sequence>
      <element name="authenticateClientReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="getVehicleModel">
    <complexType>
     <sequence>
      <element name="vehicleId" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
   <element name="getVehicleModelResponse">
    <complexType>
     <sequence>
      <element name="getVehicleModelReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="hasRentedVehicle">
    <complexType>
     <sequence>
      <element name="employeeId" type="xsd:long"/>
      <element name="vehicleId" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
   <element name="hasRentedVehicleResponse">
    <complexType>
     <sequence>
      <element name="hasRentedVehicleReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="getVehicleBrand">
    <complexType>
     <sequence>
      <element name="vehicleId" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
   <element name="getVehicleBrandResponse">
    <complexType>
     <sequence>
      <element name="getVehicleBrandReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="registerRental">
    <complexType>
     <sequence>
      <element name="date" type="xsd:string"/>
      <element name="employeeId" type="xsd:long"/>
      <element name="vehicleId" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
   <element name="registerRentalResponse">
    <complexType/>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getRentedVehiclesRequest">

      <wsdl:part element="impl:getRentedVehicles" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getVehicleModelResponse">

      <wsdl:part element="impl:getVehicleModelResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addGradeRequest">

      <wsdl:part element="impl:addGrade" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getVehiclesIdRequest">

      <wsdl:part element="impl:getVehiclesId" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getVehicleGeneralGradeRequest">

      <wsdl:part element="impl:getVehicleGeneralGrade" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="clientExistsRequest">

      <wsdl:part element="impl:clientExists" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getVehicleBrandRequest">

      <wsdl:part element="impl:getVehicleBrand" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="vehicleExistsRequest">

      <wsdl:part element="impl:vehicleExists" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="registerRentalRequest">

      <wsdl:part element="impl:registerRental" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="authenticateEmployeeResponse">

      <wsdl:part element="impl:authenticateEmployeeResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getVehicleBuyingPriceResponse">

      <wsdl:part element="impl:getVehicleBuyingPriceResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="employeeExistsRequest">

      <wsdl:part element="impl:employeeExists" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="debiteClientRequest">

      <wsdl:part element="impl:debiteClient" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getVehicleBuyingPriceRequest">

      <wsdl:part element="impl:getVehicleBuyingPrice" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="employeeExistsResponse">

      <wsdl:part element="impl:employeeExistsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="authenticateClientResponse">

      <wsdl:part element="impl:authenticateClientResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="registerRentalResponse">

      <wsdl:part element="impl:registerRentalResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="vehicleExistsResponse">

      <wsdl:part element="impl:vehicleExistsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="registerPurchaseRequest">

      <wsdl:part element="impl:registerPurchase" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getClientBankBalanceRequest">

      <wsdl:part element="impl:getClientBankBalance" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getPurchasedVehiclesResponse">

      <wsdl:part element="impl:getPurchasedVehiclesResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getVehicleConditionGradeRequest">

      <wsdl:part element="impl:getVehicleConditionGrade" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getPurchasedVehiclesRequest">

      <wsdl:part element="impl:getPurchasedVehicles" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getDateFormatRequest">

      <wsdl:part element="impl:getDateFormat" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getVehiclesIdResponse">

      <wsdl:part element="impl:getVehiclesIdResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="clientExistsResponse">

      <wsdl:part element="impl:clientExistsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="hasRentedVehicleRequest">

      <wsdl:part element="impl:hasRentedVehicle" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getVehicleRentalPriceRequest">

      <wsdl:part element="impl:getVehicleRentalPrice" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="authenticateEmployeeRequest">

      <wsdl:part element="impl:authenticateEmployee" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getVehicleRentalPriceResponse">

      <wsdl:part element="impl:getVehicleRentalPriceResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="hasRentedVehicleResponse">

      <wsdl:part element="impl:hasRentedVehicleResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getDateFormatResponse">

      <wsdl:part element="impl:getDateFormatResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getRentedVehiclesResponse">

      <wsdl:part element="impl:getRentedVehiclesResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getVehicleConditionGradeResponse">

      <wsdl:part element="impl:getVehicleConditionGradeResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addGradeResponse">

      <wsdl:part element="impl:addGradeResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="debiteClientResponse">

      <wsdl:part element="impl:debiteClientResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getRentalsNumberRequest">

      <wsdl:part element="impl:getRentalsNumber" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getVehicleGeneralGradeResponse">

      <wsdl:part element="impl:getVehicleGeneralGradeResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="registerPurchaseResponse">

      <wsdl:part element="impl:registerPurchaseResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="authenticateClientRequest">

      <wsdl:part element="impl:authenticateClient" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getVehicleModelRequest">

      <wsdl:part element="impl:getVehicleModel" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getRentalsNumberResponse">

      <wsdl:part element="impl:getRentalsNumberResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getClientBankBalanceResponse">

      <wsdl:part element="impl:getClientBankBalanceResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getVehicleBrandResponse">

      <wsdl:part element="impl:getVehicleBrandResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="DataBase">

      <wsdl:operation name="vehicleExists">

         <wsdl:input message="impl:vehicleExistsRequest" name="vehicleExistsRequest">

       </wsdl:input>

         <wsdl:output message="impl:vehicleExistsResponse" name="vehicleExistsResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getVehiclesId">

         <wsdl:input message="impl:getVehiclesIdRequest" name="getVehiclesIdRequest">

       </wsdl:input>

         <wsdl:output message="impl:getVehiclesIdResponse" name="getVehiclesIdResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="registerPurchase">

         <wsdl:input message="impl:registerPurchaseRequest" name="registerPurchaseRequest">

       </wsdl:input>

         <wsdl:output message="impl:registerPurchaseResponse" name="registerPurchaseResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getRentalsNumber">

         <wsdl:input message="impl:getRentalsNumberRequest" name="getRentalsNumberRequest">

       </wsdl:input>

         <wsdl:output message="impl:getRentalsNumberResponse" name="getRentalsNumberResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getClientBankBalance">

         <wsdl:input message="impl:getClientBankBalanceRequest" name="getClientBankBalanceRequest">

       </wsdl:input>

         <wsdl:output message="impl:getClientBankBalanceResponse" name="getClientBankBalanceResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="authenticateEmployee">

         <wsdl:input message="impl:authenticateEmployeeRequest" name="authenticateEmployeeRequest">

       </wsdl:input>

         <wsdl:output message="impl:authenticateEmployeeResponse" name="authenticateEmployeeResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getVehicleGeneralGrade">

         <wsdl:input message="impl:getVehicleGeneralGradeRequest" name="getVehicleGeneralGradeRequest">

       </wsdl:input>

         <wsdl:output message="impl:getVehicleGeneralGradeResponse" name="getVehicleGeneralGradeResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getVehicleConditionGrade">

         <wsdl:input message="impl:getVehicleConditionGradeRequest" name="getVehicleConditionGradeRequest">

       </wsdl:input>

         <wsdl:output message="impl:getVehicleConditionGradeResponse" name="getVehicleConditionGradeResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getPurchasedVehicles">

         <wsdl:input message="impl:getPurchasedVehiclesRequest" name="getPurchasedVehiclesRequest">

       </wsdl:input>

         <wsdl:output message="impl:getPurchasedVehiclesResponse" name="getPurchasedVehiclesResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getDateFormat">

         <wsdl:input message="impl:getDateFormatRequest" name="getDateFormatRequest">

       </wsdl:input>

         <wsdl:output message="impl:getDateFormatResponse" name="getDateFormatResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getVehicleBuyingPrice">

         <wsdl:input message="impl:getVehicleBuyingPriceRequest" name="getVehicleBuyingPriceRequest">

       </wsdl:input>

         <wsdl:output message="impl:getVehicleBuyingPriceResponse" name="getVehicleBuyingPriceResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getVehicleRentalPrice">

         <wsdl:input message="impl:getVehicleRentalPriceRequest" name="getVehicleRentalPriceRequest">

       </wsdl:input>

         <wsdl:output message="impl:getVehicleRentalPriceResponse" name="getVehicleRentalPriceResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="employeeExists">

         <wsdl:input message="impl:employeeExistsRequest" name="employeeExistsRequest">

       </wsdl:input>

         <wsdl:output message="impl:employeeExistsResponse" name="employeeExistsResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addGrade">

         <wsdl:input message="impl:addGradeRequest" name="addGradeRequest">

       </wsdl:input>

         <wsdl:output message="impl:addGradeResponse" name="addGradeResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="clientExists">

         <wsdl:input message="impl:clientExistsRequest" name="clientExistsRequest">

       </wsdl:input>

         <wsdl:output message="impl:clientExistsResponse" name="clientExistsResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="debiteClient">

         <wsdl:input message="impl:debiteClientRequest" name="debiteClientRequest">

       </wsdl:input>

         <wsdl:output message="impl:debiteClientResponse" name="debiteClientResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getRentedVehicles">

         <wsdl:input message="impl:getRentedVehiclesRequest" name="getRentedVehiclesRequest">

       </wsdl:input>

         <wsdl:output message="impl:getRentedVehiclesResponse" name="getRentedVehiclesResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="authenticateClient">

         <wsdl:input message="impl:authenticateClientRequest" name="authenticateClientRequest">

       </wsdl:input>

         <wsdl:output message="impl:authenticateClientResponse" name="authenticateClientResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getVehicleModel">

         <wsdl:input message="impl:getVehicleModelRequest" name="getVehicleModelRequest">

       </wsdl:input>

         <wsdl:output message="impl:getVehicleModelResponse" name="getVehicleModelResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="hasRentedVehicle">

         <wsdl:input message="impl:hasRentedVehicleRequest" name="hasRentedVehicleRequest">

       </wsdl:input>

         <wsdl:output message="impl:hasRentedVehicleResponse" name="hasRentedVehicleResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getVehicleBrand">

         <wsdl:input message="impl:getVehicleBrandRequest" name="getVehicleBrandRequest">

       </wsdl:input>

         <wsdl:output message="impl:getVehicleBrandResponse" name="getVehicleBrandResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="registerRental">

         <wsdl:input message="impl:registerRentalRequest" name="registerRentalRequest">

       </wsdl:input>

         <wsdl:output message="impl:registerRentalResponse" name="registerRentalResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="DataBaseSoapBinding" type="impl:DataBase">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="vehicleExists">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="vehicleExistsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="vehicleExistsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getVehiclesId">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getVehiclesIdRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getVehiclesIdResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="registerPurchase">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="registerPurchaseRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="registerPurchaseResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getRentalsNumber">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getRentalsNumberRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getRentalsNumberResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getClientBankBalance">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getClientBankBalanceRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getClientBankBalanceResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="authenticateEmployee">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="authenticateEmployeeRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="authenticateEmployeeResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getVehicleGeneralGrade">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getVehicleGeneralGradeRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getVehicleGeneralGradeResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getVehicleConditionGrade">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getVehicleConditionGradeRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getVehicleConditionGradeResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getPurchasedVehicles">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getPurchasedVehiclesRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getPurchasedVehiclesResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getDateFormat">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getDateFormatRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getDateFormatResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getVehicleBuyingPrice">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getVehicleBuyingPriceRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getVehicleBuyingPriceResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getVehicleRentalPrice">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getVehicleRentalPriceRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getVehicleRentalPriceResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="employeeExists">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="employeeExistsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="employeeExistsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addGrade">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addGradeRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="addGradeResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="clientExists">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="clientExistsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="clientExistsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="debiteClient">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="debiteClientRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="debiteClientResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getRentedVehicles">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getRentedVehiclesRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getRentedVehiclesResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="authenticateClient">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="authenticateClientRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="authenticateClientResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getVehicleModel">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getVehicleModelRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getVehicleModelResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="hasRentedVehicle">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="hasRentedVehicleRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="hasRentedVehicleResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getVehicleBrand">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getVehicleBrandRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getVehicleBrandResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="registerRental">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="registerRentalRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="registerRentalResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="DataBaseService">

      <wsdl:port binding="impl:DataBaseSoapBinding" name="DataBase">

         <wsdlsoap:address location="http://localhost:8080/Database/services/DataBase"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
