Database/src/main/webapp/wsdl/DataBase.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://database.uge.fr" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://database.uge.fr" xmlns:intf="http://database.uge.fr" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://database.uge.fr" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getClientBankBalance">
    <complexType>
     <sequence>
      <element name="clientId" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
   <element name="getClientBankBalanceResponse">
    <complexType>
     <sequence>
      <element name="getClientBankBalanceReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="employeeExists">
    <complexType>
     <sequence>
      <element name="employeeId" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
   <element name="employeeExistsResponse">
    <complexType>
     <sequence>
      <element name="employeeExistsReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="addGrade">
    <complexType>
     <sequence>
      <element name="employeeId" type="xsd:long"/>
      <element name="vehicleId" type="xsd:long"/>
      <element name="vehicleGrade" type="xsd:int"/>
      <element name="conditionGrade" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="addGradeResponse">
    <complexType/>
   </element>
   <element name="debiteClient">
    <complexType>
     <sequence>
      <element name="clientId" type="xsd:long"/>
      <element name="amount" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="debiteClientResponse">
    <complexType/>
   </element>
   <element name="getRentalsNumber">
    <complexType>
     <sequence>
      <element name="vehicleId" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
   <element name="getRentalsNumberResponse">
    <complexType>
     <sequence>
      <element name="getRentalsNumberReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getVehiclesId">
    <complexType/>
   </element>
   <element name="getVehiclesIdResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getVehiclesIdReturn" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
   <element name="vehicleExists">
    <complexType>
     <sequence>
      <element name="vehicleId" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
   <element name="vehicleExistsResponse">
    <complexType>
     <sequence>
      <element name="vehicleExistsReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="getVehiclePrice">
    <complexType>
     <sequence>
      <element name="vehicleId" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
   <element name="getVehiclePriceResponse">
    <complexType>
     <sequence>
      <element name="getVehiclePriceReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getClientBankBalanceRequest">

      <wsdl:part element="impl:getClientBankBalance" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getVehiclesIdResponse">

      <wsdl:part element="impl:getVehiclesIdResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addGradeRequest">

      <wsdl:part element="impl:addGrade" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getVehiclesIdRequest">

      <wsdl:part element="impl:getVehiclesId" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="vehicleExistsRequest">

      <wsdl:part element="impl:vehicleExists" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addGradeResponse">

      <wsdl:part element="impl:addGradeResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="debiteClientResponse">

      <wsdl:part element="impl:debiteClientResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getVehiclePriceResponse">

      <wsdl:part element="impl:getVehiclePriceResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="employeeExistsRequest">

      <wsdl:part element="impl:employeeExists" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getRentalsNumberRequest">

      <wsdl:part element="impl:getRentalsNumber" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getVehiclePriceRequest">

      <wsdl:part element="impl:getVehiclePrice" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="debiteClientRequest">

      <wsdl:part element="impl:debiteClient" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="employeeExistsResponse">

      <wsdl:part element="impl:employeeExistsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getRentalsNumberResponse">

      <wsdl:part element="impl:getRentalsNumberResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getClientBankBalanceResponse">

      <wsdl:part element="impl:getClientBankBalanceResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="vehicleExistsResponse">

      <wsdl:part element="impl:vehicleExistsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="DataBase">

      <wsdl:operation name="getClientBankBalance">

         <wsdl:input message="impl:getClientBankBalanceRequest" name="getClientBankBalanceRequest">

       </wsdl:input>

         <wsdl:output message="impl:getClientBankBalanceResponse" name="getClientBankBalanceResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="employeeExists">

         <wsdl:input message="impl:employeeExistsRequest" name="employeeExistsRequest">

       </wsdl:input>

         <wsdl:output message="impl:employeeExistsResponse" name="employeeExistsResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addGrade">

         <wsdl:input message="impl:addGradeRequest" name="addGradeRequest">

       </wsdl:input>

         <wsdl:output message="impl:addGradeResponse" name="addGradeResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="debiteClient">

         <wsdl:input message="impl:debiteClientRequest" name="debiteClientRequest">

       </wsdl:input>

         <wsdl:output message="impl:debiteClientResponse" name="debiteClientResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getRentalsNumber">

         <wsdl:input message="impl:getRentalsNumberRequest" name="getRentalsNumberRequest">

       </wsdl:input>

         <wsdl:output message="impl:getRentalsNumberResponse" name="getRentalsNumberResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getVehiclesId">

         <wsdl:input message="impl:getVehiclesIdRequest" name="getVehiclesIdRequest">

       </wsdl:input>

         <wsdl:output message="impl:getVehiclesIdResponse" name="getVehiclesIdResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="vehicleExists">

         <wsdl:input message="impl:vehicleExistsRequest" name="vehicleExistsRequest">

       </wsdl:input>

         <wsdl:output message="impl:vehicleExistsResponse" name="vehicleExistsResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getVehiclePrice">

         <wsdl:input message="impl:getVehiclePriceRequest" name="getVehiclePriceRequest">

       </wsdl:input>

         <wsdl:output message="impl:getVehiclePriceResponse" name="getVehiclePriceResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="DataBaseSoapBinding" type="impl:DataBase">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getClientBankBalance">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getClientBankBalanceRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getClientBankBalanceResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="employeeExists">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="employeeExistsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="employeeExistsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addGrade">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addGradeRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="addGradeResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="debiteClient">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="debiteClientRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="debiteClientResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getRentalsNumber">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getRentalsNumberRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getRentalsNumberResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getVehiclesId">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getVehiclesIdRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getVehiclesIdResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="vehicleExists">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="vehicleExistsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="vehicleExistsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getVehiclePrice">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getVehiclePriceRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getVehiclePriceResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="DataBaseService">

      <wsdl:port binding="impl:DataBaseSoapBinding" name="DataBase">

         <wsdlsoap:address location="http://localhost:8080/Database/services/DataBase"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
