EiffelCorp/src/main/webapp/wsdl/IfsCarsService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://eiffelCorp.uge.fr" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://eiffelCorp.uge.fr" xmlns:intf="http://eiffelCorp.uge.fr" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://eiffelCorp.uge.fr" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="isAvailable">
    <complexType>
     <sequence>
      <element name="vehicleId" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
   <element name="isAvailableResponse">
    <complexType>
     <sequence>
      <element name="isAvailableReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="getBuyingPrice">
    <complexType>
     <sequence>
      <element name="vehicleId" type="xsd:long"/>
      <element name="currency" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getBuyingPriceResponse">
    <complexType>
     <sequence>
      <element name="getBuyingPriceReturn" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
   <element name="getRentalPrice">
    <complexType>
     <sequence>
      <element name="vehicleId" type="xsd:long"/>
      <element name="currency" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getRentalPriceResponse">
    <complexType>
     <sequence>
      <element name="getRentalPriceReturn" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
   <element name="purchase">
    <complexType>
     <sequence>
      <element name="clientId" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
   <element name="purchaseResponse">
    <complexType>
     <sequence>
      <element name="purchaseReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="addToBasket">
    <complexType>
     <sequence>
      <element name="vehicleId" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
   <element name="addToBasketResponse">
    <complexType/>
   </element>
   <element name="getVehiclesList">
    <complexType/>
   </element>
   <element name="getVehiclesListResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getVehiclesListReturn" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
   <element name="getBasket">
    <complexType/>
   </element>
   <element name="getBasketResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getBasketReturn" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="isAvailableRequest">

      <wsdl:part element="impl:isAvailable" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addToBasketRequest">

      <wsdl:part element="impl:addToBasket" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getBuyingPriceResponse">

      <wsdl:part element="impl:getBuyingPriceResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="isAvailableResponse">

      <wsdl:part element="impl:isAvailableResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getRentalPriceRequest">

      <wsdl:part element="impl:getRentalPrice" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="purchaseRequest">

      <wsdl:part element="impl:purchase" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getVehiclesListRequest">

      <wsdl:part element="impl:getVehiclesList" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getRentalPriceResponse">

      <wsdl:part element="impl:getRentalPriceResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="purchaseResponse">

      <wsdl:part element="impl:purchaseResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getBasketResponse">

      <wsdl:part element="impl:getBasketResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addToBasketResponse">

      <wsdl:part element="impl:addToBasketResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getBasketRequest">

      <wsdl:part element="impl:getBasket" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getBuyingPriceRequest">

      <wsdl:part element="impl:getBuyingPrice" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getVehiclesListResponse">

      <wsdl:part element="impl:getVehiclesListResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="IfsCarsService">

      <wsdl:operation name="isAvailable">

         <wsdl:input message="impl:isAvailableRequest" name="isAvailableRequest">

       </wsdl:input>

         <wsdl:output message="impl:isAvailableResponse" name="isAvailableResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getBuyingPrice">

         <wsdl:input message="impl:getBuyingPriceRequest" name="getBuyingPriceRequest">

       </wsdl:input>

         <wsdl:output message="impl:getBuyingPriceResponse" name="getBuyingPriceResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getRentalPrice">

         <wsdl:input message="impl:getRentalPriceRequest" name="getRentalPriceRequest">

       </wsdl:input>

         <wsdl:output message="impl:getRentalPriceResponse" name="getRentalPriceResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="purchase">

         <wsdl:input message="impl:purchaseRequest" name="purchaseRequest">

       </wsdl:input>

         <wsdl:output message="impl:purchaseResponse" name="purchaseResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addToBasket">

         <wsdl:input message="impl:addToBasketRequest" name="addToBasketRequest">

       </wsdl:input>

         <wsdl:output message="impl:addToBasketResponse" name="addToBasketResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getVehiclesList">

         <wsdl:input message="impl:getVehiclesListRequest" name="getVehiclesListRequest">

       </wsdl:input>

         <wsdl:output message="impl:getVehiclesListResponse" name="getVehiclesListResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getBasket">

         <wsdl:input message="impl:getBasketRequest" name="getBasketRequest">

       </wsdl:input>

         <wsdl:output message="impl:getBasketResponse" name="getBasketResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="IfsCarsServiceSoapBinding" type="impl:IfsCarsService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="isAvailable">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="isAvailableRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="isAvailableResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getBuyingPrice">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getBuyingPriceRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getBuyingPriceResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getRentalPrice">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getRentalPriceRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getRentalPriceResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="purchase">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="purchaseRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="purchaseResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addToBasket">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addToBasketRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="addToBasketResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getVehiclesList">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getVehiclesListRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getVehiclesListResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getBasket">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getBasketRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getBasketResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="IfsCarsServiceService">

      <wsdl:port binding="impl:IfsCarsServiceSoapBinding" name="IfsCarsService">

         <wsdlsoap:address location="http://localhost:8080/EiffelCorp/services/IfsCarsService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
